body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #555;
}

nav ul li:hover>ul {
    display: flex;
    flex-direction: column;
}

nav ul ul li {
    width: 100%;
}

nav ul ul a {
    padding: 10px 20px;
    display: block;
}

nav ul ul a:hover {
    background-color: #555;
}

.baslik{
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}





/* FOOTER  */
.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #b4b4b4;
    padding: 20px;
}

.footer-links {
    flex: 1;
}

.footer-links h4 {
    color: #333333;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #2980b9;
}

.footer-bottom {
    background-color: #333;
    color: #9e9e9e;
    text-align: center;
    padding: 10px 0;
}

.social-media a {
    color: rgb(44, 44, 44);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}