.food_title{
    display:block;
    text-align: left;
    margin: 2% 9% 3% 9%;
    border-bottom: 1px solid rgba(0, 0, 0);  
     
}

.food_title >a {
    padding: 0px;
    text-decoration: none;
    color: #000000;
}

.card_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.recipe_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 2% 2% 2%;
    padding: 3px;
    padding-bottom: 5px;
    text-align: center; 
    border-radius: 10px;
    box-shadow: 1PX 1PX 10PX 1PX rgb(187, 186, 186);
}

.recipe_card > a > img{
    padding: 3px;
    border-radius: 10px;
}

.recipe_card > a{
    margin-top: 1%;
    padding: 3px;
    border-radius: 10px;
    color: black;
    font: inherit;
    font-size: 1.2em;
    text-decoration: none;
}

.recipe_card > span{
    margin-top: 1%;
    padding: 3px;
    text-align: center;
    font: inherit;
    font-size: 0.9em;
    color: grey;
}
.recipe_card > div{
    margin-top: 1%;
    padding: 3px;
}

.recipe_card > div > span{
    margin: 20% 0% 20% 0%;
    padding: 3px;
    text-align: center;
    font: inherit;
    font-size: 0.9em;
    color: grey;
}

.recipe_card > div > a > i{
   color: black;
}

.recipe_card > div > a > i:hover{
    color: red;
 }