body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #cf2020;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin-left: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    margin-right: 30px;
}

nav a:hover {
    background-color: #555;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 1px solid #555;
}

nav ul li:hover>ul {
    display: flex;
    flex-direction: column;
}

nav ul ul li {
    width: 100%;
}

nav ul ul a {
    padding: 10px 20px;
    display: block;
}

nav ul ul a:hover {
    background-color: #555;
}



/*************** slider????*************/

#slider{
    margin:  2% 23% 0% 25%;
    padding: 1%  1%  1%  1%;
    outline: 2px solid rgba(128, 128, 128, 0.721);
}


/************* Tarif kartları *********************/

h1 {
    font-size: 20px;
    margin-left: 80px;
    margin-top: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

/**********************************/

/* FOOTER  */
.footer-container {
    position: block;
    display: flex;
    justify-content: space-around;
    background-color: rgb(238, 155, 30);
    padding: 20px;
}

.footer-links {
    flex: 1;
}

.footer-links h4 {
    color: #ffffff;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #2980b9;
}

.footer-bottom {
    background-color: #cf2020;
    color: #9e9e9e;
    text-align: center;
    padding: 10px 0;
}

.social-media a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

