body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 50px;
    background-color: #333;
    color: white;  
}

.header-left {
    display: flex;
    justify-content:center;
    margin-left: 5%;
    margin-top: 1%;
}

.header-right {
    display: flex;
    justify-content:space-evenly;
    margin-right: 1%;
    margin-top: 1%;
}

.logo {
    display: absolute;
    margin: 0px;
    overflow: visible;
    z-index: 3;
}

.h1 {
    display: inline;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: white;
}

/*

.header-right a {
    cursor: pointer;
    margin-right: 50px;
    font-size: 25px;
    color: white;
    
    border-radius: 2px;
    border: 2px;
    text-decoration: none;
}

.header-right a:hover {
    background-color: #2980b9;
}
*/

/********************************************/

.navbar {
    margin-top: 0%;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-family: Arial;
}


.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: inherit;
    align-items: center;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/******************************************************/

.recipe-container {
    max-width: 50%;
    margin: 2em auto;
    padding: 1em;
    color: white;
}

.recipe {
    text-align: center;
    background-color: #333;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recipe-img {
    display: inline-block;
    vertical-align: middle;
}


/* FOOTER  */
.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #b4b4b4;
    padding: 20px;
}

.footer-links {
    flex: 1;
}

.footer-links h4 {
    color: #333333;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #2980b9;
}

.footer-bottom {
    background-color: #333;
    color: #9e9e9e;
    text-align: center;
    padding: 10px 0;
}

.social-media a {
    color: rgb(44, 44, 44);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}


/**********************************/

.eklenecek {
    margin: 300px;
    text-align: center;
}

/**********************************/


/* ANASAYFA SLIDER DÜZENLEME */
.carousel {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}